:root{
    --color-white: #fff;
    --color-text: #222222;
    --color-logo:  #a1855a;
    --color-sub:   rgba(34, 34, 34, 0.8);
    --color-cat: #a1855a;
    --color-text_0-6: rgba(34,34,34,0.6);
}